*{
    box-sizing: border-box;
  }
  html{
    background: linear-gradient(80deg,rgb(134, 136, 136),rgb(86, 88, 88) );
  }
  h1{
    font-weight: 750;
    font-size: 1.8rem;
    font-family: serif;
  }
  h2{
    font-weight: 500;
    font-size: 1.4rem;
    font-family: sans-serif;
  }
  h3{
      font-weight: 200;
      font-size: 1.3rem;
      font-family: sans-serif;
  }
  p{
    font-size: 1.05rem;
    font-family: sans-serif;
  }
  .aboutMe{
      size: 80%;
  }
  nav{
      border-color: aliceblue;
  }
  